<div class="container">
  <div>
    <input type="text" [(ngModel)] = "AddedItems" placeholder="Add items"required>
    <button (click)="addFunc()" class ="add"> Add </button>
    {{AddedItems}} 
  </div>
  <div class="menu">
		<button class =" add filter" (click) ="filter('')">All</button>
		<button  class =" add filter"(click) ="filter('true')">Completed</button>
		<button  class =" add filter" (click) ="filter('false')">Pending</button>
	</div>
  <ul>
   <li *ngFor ="let item of itemArray; let i = index ">
     <div *ngIf= "item.status===false">
       {{i+1 }}{{item.newtodo}}
      <button (click)="delete(i)"> Delete</button>
       <button (click)="statuschanger(i)">{{statuschange}}</button></div>
    </li>
  </ul> 
</div>