ul {
	list-style-type:none;
	width: 100%;
}
li{
	width: 90%;
    margin-bottom: 15px;
	position: relative;
}
input[ type="text"]{
	width:90%;
    padding: 10px;
    border: 1px solid black;
}
.add{
	font-size: 15px;
    padding: 10px;
    border: 1px solid black;
}
.container{
    border: 1px solid white;
    width: 60%;
    min-height: 600px;
    margin-left:250px;
    padding: 50px;
    margin-top:40px;
    background-color: rgb(255,182,193);
    border: 1px solid black;
}
.menu {
	display: flex;
	position: relative;
	width: 90%;
	margin: auto;
}
.filter{
    padding: 8px;
	border-radius: 5px;
	text-align: center;
	width: 100%;
}